.typeline{
  /*vertical-align: baseline;*/
  position: fixed;
  left: 0; right:0; bottom: 68vh;
  background: #fff;
  border:none;
  font-size:30px;
  font-weight: bold;
  transform: scale(1,1.2);
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}
.typemirror{
  padding: 10px;
  position:absolute;
  left: 0; right:0; top: 60vh;
  font-weight: bold;
  background: rgba(128,128,128,0.15);
  color: rgba(255, 255, 255, 0.25);
  border:none;
  font-size: 30px;
  transform: rotate(180deg) scale(1,2.5);
  line-height: 0.95;
  text-align: center;
  word-wrap: break-word;
}
.typelog{
  word-wrap: break-word;
  padding-top: 6px;
  padding-left:8vw;
  padding-right:8vw;
  font-size:12px;
  position: fixed;
  left: 0; bottom: 0vh;
  height: 64vh;
  width: 84vw;
  background: #226;
  border:none;
  line-height: 2.0;
  color:#cce;
}
body{
  background: #888;
  font-family:monospace;
}
