<!doctype html>
<html>
  <head>
    <title>Cookie Jar</title>
    <link rel="stylesheet" href="/style.css">
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <h1> <a href="/">Cookie Jar</a> <span style="float: right"> <a href="/login">({{name}})</a> </span></h1>
    <div class="content">
      {% block content %} 
        <ul>
          <li> <a href="./cmd/">Command</a></li>
          <li> <a href="./about/">About</a></li>
        </ul>
      {% endblock %}
    </div>
  </body>
</html>
