{% extends "index.html" %}

{% block header %}
  <link rel="stylesheet" href="../cmd.css">
{% endblock %}

{% block content %}
  <form method="POST" action="/logoutsubmit">
    {% if (name != "Guest") %}
      <div style="font-size: 16px;">
        <span> Current User: {{name}} </span>
          <input type="submit" value="Logout"></input>
      </div>
    {% endif %}
  <form>
  <h3> Login </h3>
  <form method="POST" action="/loginsubmit">
    <input type="text" placeholder="Username" name="username"></input> <br>
    <input type="password" placeholder="Password" name="pass1"></input> <br>
    <input type="submit" value="Submit"></input>
  </form>
  <h3> Sign Up </h3>
  <form method="POST" action="/signupsubmit">
    <input type="text" placeholder="Username" name="username"></input> <br>
    <input type="password" placeholder="Password" name="pass1"></input> <br>
    <input type="password" placeholder="Confirm" name="pass2"></input> <br>
    <input type="submit" value="Submit"></input>
  </form>

{% endblock %}

