<h1> {{site_title}} </h1>
<h3 class="whiteonblack pad10"> {{page_title}} </h3>
<div class="nav">
    %pageindex%
</div>
<style>
  .whiteonblack{
    color: #fff;
    background: #000;
  }
  .pad10{
    padding: 10px
  }
</style>
