<!doctype html>
<html>
  <head>
    <title> Form Demo </title>
    <style>
      *{ font-family: sans-serif; }
    </style>
  </head>
  <body>
    <h1> Form Demo </h1>
    Text Value: {{text_value}}
    <form method="POST">
      <input type="text" name="text_value"></input>
      <input type="submit"></input>
    </form>
  </body>
</html>

