{{header}}
<h2> Account </h2>
<form action='/submit' method="POST">
  <input type='hidden' name='action' value='logout'/>
  <table>
    <tr> <th>User</th><td> {{username}} </td> </tr>
    <tr> <td></td><td> <input type='submit' value='Logout'/></td> </tr>
  <table>
</form>
{{footer}}
