<!doctype html>
<html>
  <head>
    <title>Cookie Jar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="title">
      <h1> <a href="/">Cookie Jar</a></h1>
      <span class="titleinfo"> <!-- style="float: right">-->
        <a href="/login">({{username}})</a>
      </span>
    </div>
    <div class="content">
      {% block content %} 
        <h2> Welcome to Cookie Jar! </h2>
        <h3 class="ul bbb"> Account </h3>
        <ul>
          <li> <a href="./login/">Login</a></li>
          <li> <a href="./signup/">Signup</a></li>
        </ul>
        <h3 class="ul bbb"> App </h3>
        <ul>
          <li> <a href="./cmd/">Command</a></li>
          <li> <a href="./dashboard/" class="disabled">Dashboard</a></li>
        </ul>
        <h3 class="ul bbb"> Info </h3>
        <ul>
          <li> <a href="./about/">About</a></li>
        </ul>
      {% endblock %}
      <h4 class="center"><a href="/">Home</a></h4>
    </div>
  </body>
</html>
