
input[type="submit"]{
  background: black;
  color: white;
  padding: 6px 12px;
  border: none;
  font-size: 16px;
}
#cmdinput[type="text"]{
  width: calc(100% - 100px);
  padding: 6px;
  border: 2px solid #888;
  font-size: 16px;
  font-family: monospace;
  box-sizing: border-box;
}
#cmdinput:focus{
  border: 2px solid black;
  outline: none;
}
#cmdsubmit{
  margin-right: -20px;
}
#main{
  background: #ddd;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #888;
  min-width: 240px;
}
#cmdout{
  border: 1px solid #888;
  padding: 6px;
  min-height: 150px;
  overflow-x: auto;
  overflow-y: auto;
  background: #fff;
  margin-bottom: 3px;
}
