<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: sans;">
    <h3> {{action}}: {{target}} </h3>
    <h1> Are You Sure? </h1>
    <form method='POST' style='display: inline-block; margin:3px;'>
      <input type='hidden' name='confirmAction' id='confirmAction' value='{{action}}'/>
      <input type='hidden' name='actionTarget' id='actionTarget' value='{{target}}'/>
      <input type='submit' value='Yes' title='Load File'
        style="color:#fff; background:#00a;
          font-family: monospace;
          border: none;
          border-radius: 6px;
          font-weight: bold;
          font-size: 14px; padding: 6px 14px;"/>
    </form>
    <form method='POST' style='display: inline-block; margin:3px;'>
      <input type='hidden' name='cancelAction' id='cancelAction' value='{{action}}'/>
      <input type='hidden' name='actionTarget' id='actionTarget' value='{{target}}'/>
      <input type='submit' value='No' title='Load File'
        style="color:#fff; background:#a00;
          font-family: monospace;
          border: none;
          border-radius: 6px;
          font-weight: bold;
          font-size: 14px; padding: 6px 14px;"/>
    </form>
    <hr>
    <a href='/' style="color: blue">Control Panel Home</a>
  </body>
</html>
