
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: sans;">
    <a href='/' style="color: blue">Control Panel</a>
    <h3> {{page_type}} </h3>
    <p style='max-width: 400px;'>
     {{page_list}}
    </p>
    <form method='post'>
      <label for='pagename'>Name</label>
      <input type='text' name='pagename'
             id='notename' value='{{page_name}}'/>
      <input type='submit' value='Save' />
      <!--br>
      <input type='checkbox' id='viewresults' name='viewresults'/>
      <label for='viewresults'>View Results </label>
      -->
      <br><br>
      <textarea rows=11 cols=48
        id='pagecontent' name='pagecontent'
        style="white-space: pre; font-family: monospace;
          overflow-wrap: normal; overflow-x: auto;"
        >{{page_content}}</textarea>
    </form>
  </body>
</html>
