<div class="sans">
   <h1 class="ul">
     How to be an html artist</h1>
  
   <h2>Reuseable CSS</h2>

   <p> Css classes should represent
    specific style changes, that
    follow a one rule, one change 
    pattern.  This allows you to
    reuse those classes, and it
    also helps keep your css much
    more minimal than otherwise.
   </p>

   <h2> Avoid tricky layouts </h2>
   
   <p> Advanced layouts require a lot
    of css, and would tend to lead you
    to break the one rule one change
    pattern.
   </p>
   
   <p> But do you need these tricky
    layouts in the first place? Nah.
    Keep it simple people.
   </p>

   <h2> Clean Source Formatting </h2>

   <p> Make sure your html source
    is formatted to be as readable
    a possible.  Lines that run on
    for a long time, a lack of
    indentation, or a lack of vertical
    space between between blocks
    will make your source code hard
    to read, and hard to edit.
   </p>

   <p> Making the source as readable
    as possible will eliminate mental
    barriers to working on it.
    It should be readable in a plain
    text editor even without syntax
    highlighting.
   </p>

   <h2> Save the best for last </h2>

   <p> Don't work on tricky or advanced
    features until you are ready for
    them, and they will definitely add
    something to your document.
    Do the basics first, and then
    optionally add fancy stuff.
   </p>

   <h2> Learn to edit
    without feedback </h2>

   <p> It can be tempting to want to
    see what your live page looks like
    after every little change, but
    doing this throughout the composition
    process will slow you down
    considerably.
   </p>

   <p> You can do meticulous revision
    later, once you have everything
    down.
   </p>

   <p> Also, if your source is cleanly
    formatted, then it should be good
    enough for reading and editing, and
    getting a rough idea of what the
    document will be like.
   </p>

   <h2> Practice often,
    on new and old documents </h2>

   <p> Practice is essential to good
    documents.  It is also important
    to practice on brand new documents,
    and to keep working on old ones.
    Doinng only one or the other will
    get you stuck in a rut.
   </p>

   <h2> Use verison control </h2>
</div>


   
