<!DOCTYPE html>

<html>
  <head>
    <title>BaseCMS</title>
  </head>
  <body>
    <h1> BaseCMS </h1>
    <h3> An extremely simple cms tool written in python with bottle. </h3>
    <h2> Pages </h2>
    <ul>
      {{page_list}}
    </ul>
    <form action="newpage" method="POST">
      <h2>New Document:</h2>
      Name:
      <input type="text" name="newpage_name"></input>
      <input type="submit" value="Create"></input><br>
      Extension:
      <select name="newpage_extension">
        <option value="html">html</option>
        <option value="css">css</option>
        <option value="js">js</option>
      </select><br>
    </form>
  </body>
</html>
