<!doctype html>

<html>
  <head>
    <title> Webscript Demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> 404 Not Found </h1>
    <a href="{{home}}">Home</a>
  </body>
</html>
