<!doctype html>

<html>
  <head>
    <title> Webscript Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .blue{
        color: blue;
       }
    </style>
  </head>
  <body>
    <h1> Webscript Admin</h1>
    <div> Welcome <b>{{admin_name}}</b>!</div><br>
    <a class='blue' href="{{home}}">Home</a> &nbsp; | &nbsp;
    <a class='blue' href="{{admin_home}}">Admin</a> &nbsp; | &nbsp;
    <a class='blue' href="{{admin_logout}}" title="Logout '{{admin_name}}'">Logout</a> &nbsp;
    <h2> Admin Pages</h2>
    <ul>
    {{admin_pages}}
    </ul>
    <hr>
  </body>
</html>
