<!doctype html>

<html>
  <head>
    <title> Webscript Demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> Webscript Demo </h1>

    <a href="{{home}}">Home</a> &nbsp; | &nbsp;
    <a href="{{admin_home}}">Admin</a> &nbsp;
    <h3> Script Pages </h3>

    {{script_pages}}

      <!--- <a href="./hello"> Hello Script </a> <br>
      - <a href="./admin/info"> Server Info </a> <br>-->
  </body>
</html>
