<!doctype html>
<html>
  <head>
    <title> Test WSGI </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{ 
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1> Hello, World. </h1>
    Count: {{count}} <br>
    Path: {{path}} <br>
    Query: {{query}} <br>
    Data: {{data}} <br>
    <hr>
    <form method="POST">
      <h3> Test Form </h3>
      Name: <input type="text" name="name"><br>
      Date: <input type="date" name="favorite_date" value="1776-07-04"><br>
      Color: <input type="color" name="preferred_color"><br>
      <input type="submit" value="Submit">
    </form>
    <a href="{{home}}">Home</a>
  </body>
</html>
