
<!doctype html>
<html>
  <head>
    <title> User </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{ 
        font-family: sans-serif;
      }
      th{
        text-align: right;
        vertical-align: text-top;
      }
    </style>
  </head>
  <body>
    <h1> Manage Users </h1>
    {{message}}
    <form method="POST">
      <input type='hidden' name='usermanage_action' value='create_invites'>
      <h3> Create Invites </h3>
      <table>
        <tr>
          <th> Count </th>
          <td>
            <input type="number" min='1' max='35' name="invite_count">
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Submit">
          </td>
        </tr>
      </table>
    </form>
    <a href="{{home}}">Home</a>
  </body>
</html>
