<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body{
       font-family: sans;
      }
    </style>
  </head>
  <body>
    <h1> Demo Page </h1>
    <h5> count: {{count}}</h5>
    <form method='get'>
      <table>
        <tr>
          <td colspan='2'>
            <textarea rows='8' cols='40'
              name='textinput'></textarea>
          <td>
        </tr>
        <tr>
          <th> Cookie Name</th>
          <td> <input type='text' name='cookiename'></td>
        </tr>
        <tr>
          <th> Cookie Value</th>
          <td> <input type='text' name='cookievalue'></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' value="Submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>

